.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    /* Movemos la imagen al contenedor padre */
    background-image: url("../../../public/fdo_roulette.png");
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 10px 10px;
    /* Redondeamos el padre también */
    overflow: hidden;
    /* Para que el contenido no se salga de las esquinas */
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    /* El truco del backdrop-filter */
    background-color: rgba(0, 0, 0, 0.3);
    /* Un color oscuro pero muy transparente */
    backdrop-filter: blur(8px);
    /* Esto desenfoca la imagen del padre */
    -webkit-backdrop-filter: blur(8px);
    /* Soporte para Safari */

    color: rgb(226, 173, 27);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    /* Asegúrate de que el p no tenga márgenes extra */
}