.aggrid {
    height: 500px;
    width: 450px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.table-title {
    margin: 0 0 8px 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.export-btn {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #E2AD1B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.export-btn:hover {
    background-color: #E2AD1B;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}