.minidash-container {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
    height: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    background-color: rgba(17, 25, 40, 0.35);
}

.casino-group-title {
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 4px 16px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.minidash-content {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;

    border-radius: 15px;
}

.individualCardRoulette {
    padding: 10px;
    width: 300px;
    height: 600px;
    border-radius: 5px;
    /* border: 1px solid green; */
    background-color: var(--secondary-color);
}